<h1>Shorten your URL here</h1>

<%= form_for :url, url: urls_path do |f| %>
  <p>
    <%= f.label :original_address %><br>
    <%= f.text_field :original_address %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>