
<p>
  <strong>URL:</strong>
  <a href="<%= @url.original_address %>"><%= @url.original_address %>"</a> 
</p>
 
<p>
  <strong>Shortened Url:</strong>
   <a href="<%= @url.original_address%>"><%= @url.shortened_url %></a> 
</p>

